.challengeBoxContainer {
    height: 100%;
    background: var(--primary);
    border-radius: 5px;
    box-shadow: 0 0 60px rga(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive p img {
    margin-bottom: 1rem;
}

.challengeActive {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.challengeActive header {
    padding: 1.7rem 3.5rem ;
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
    padding: 1.5rem 2rem ;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5rem;
}

.challengeActive footer {
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.challengeActive footer button {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.2s;
}

.challengeActive footer button.challengeFaileButton {
    color: var(--red);
    background: #ffe0e0;
    border-right: 1px solid var(--border);
}
.challengeActive footer button.challengeSucceededButton {
    color: var(--green);
    background: #dcffd1;
}

.challengeActive footer button:hover {
    filter: brightness(0.9);
}
@media(max-width: 900px) {
    .challengeNotActive strong {
        font-size: 2rem;
    }
}
