.main {
  width: 100%;
  height: 100%;
  background: var(--blue);
  position: fixed;
}

.background {
  position: absolute;
}

.container {
  height: 100%;
  margin: 0 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 7rem 7rem 0;
  flex-direction: column;

  color: #fff;
}
.welcome h1 {
  font-size: 3rem;
}
.welcome > img {
  margin-bottom: 6rem;
}

.welcome p {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
}

.welcome p strong {
  color: var(--green);
}

.formRegister {
  max-width: 480px;
  display: block;
  margin-top: 32px;
}

.formRegister input {
  width: 100%;
  height: 60px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid var(--green);
  border-radius: 8px;
}

.formRegister button {
  width: 100%;
  height: 65px;
  background: var(--green);
  border: none;
  border-radius: 8px;
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
  transition: 0.6s;
}

.formRegister button:hover {
  background: #37b119;
}

@media (max-width: 1200px) {
  .container {
    margin: 1rem;
    justify-content: center;
  }

  .welcome {
    margin: 1rem;
    align-items: center;
  }
}
